.foot{
  background-color: #EBF5EE;
  display: grid;
}
.foot ul{
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
  padding: 0;
}

.foot li{
  list-style-type: none;
  float: left;
  text-align: center;
}

.foot a{
  display: block;
  margin: 0 8px;
  text-decoration: none;
  color: #212A2F;
}

.foot p{
  margin: 20px 0;
  text-align: center;
}

.foot li :hover{
  cursor: pointer;
  text-decoration: line-through;
  color: #E13535;
}
